<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de la compagnie {{ company.id }}</title>
    </head>
    <body>
		<h1>Affichage d'une compagnie</h1>

		<p>
			{% for message in app.session.flashbag.get('info') %}
				<p>Message flash : {{ message }}</p>
			{% endfor %}
		</p>

		{% if company.countryOfOperation is defined %}
			Voici le code pays de cette société : {{ company.countryOfOperation.countryCode }}
		{% endif %}
		
		
		<p>
			Ici nous pourrons consulter la compagnie ayant comme id : {{ company.id }}<br />
			Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
		</p>
		
    </body>
</html>